adf-ue2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ue2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/fiddle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "union",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "res",
							"value": {
								"value": "@union(variables('a1'), variables('a2'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "intersect",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "union",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "res",
							"value": {
								"value": "@intersection(variables('a1'), variables('a2'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "take3",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "intersect",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "res",
							"value": {
								"value": "@take(variables('a1'), 3)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "custom",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "take3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "res",
							"value": {
								"value": "@take(variables('a1'), 3)",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"a1": {
						"type": "Array",
						"defaultValue": [
							{
								"name": "apple",
								"desc": "crispy",
								"type": "fruit"
							},
							{
								"name": "banana",
								"desc": "soft tropical",
								"type": "fruit"
							},
							{
								"name": "cat",
								"desc": "furry, fickle",
								"type": "mammal"
							},
							{
								"name": "dog",
								"desc": "furry, loyal",
								"type": "mammal"
							},
							{
								"name": "elephant",
								"desc": "giant gray",
								"type": "mammal"
							},
							{
								"name": "fig",
								"desc": "soft flowerless",
								"type": "fruit"
							}
						]
					},
					"a2": {
						"type": "Array",
						"defaultValue": [
							{
								"name": "apple",
								"desc": "crispy",
								"type": "fruit"
							},
							{
								"name": "banana",
								"desc": "soft tropical",
								"type": "fruit"
							},
							{
								"name": "fig",
								"desc": "soft flowerless",
								"type": "fruit"
							},
							{
								"name": "grape",
								"desc": "soft juicy clustered",
								"type": "fruit"
							}
						]
					},
					"res": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}